body{
background:#0f172a;
color:white;
font-family:Arial;
margin:0;
padding:0;
}

header{
background:#111827;
padding:20px;
}

nav a{
color:white;
margin-right:15px;
text-decoration:none;
}

.hero{
padding:100px;
text-align:center;
background:#1e293b;
}

h1,h2{
color:#38bdf8;
}

ul{
padding:20px;
}

button{
padding:10px 20px;
background:#38bdf8;
border:none;
cursor:pointer;
}
